These examples are written for Python 3. Minor tweaks might be necessary for earlier python versions.

# Idioms

These are some neat pandas idioms
if-then/if-then-else on one column, and assignment to another one or more columns:

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame({'AAA' : [4,5,6,7], 'BBB' : [10,20,30,40],'CCC' : [100,50,-30,-50]}); df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

An if-then on one column

In [5]:
df.loc[df.AAA >= 5,'BBB'] = -1; df

   AAA  BBB  CCC
0    4   10  100
1    5   -1   50
2    6   -1  -30
3    7   -1  -50

In [6]:
df.loc[df.AAA >= 5,['BBB','CCC']] = 555; df

   AAA  BBB  CCC
0    4   10  100
1    5  555  555
2    6  555  555
3    7  555  555

In [7]:
df.loc[df.AAA < 5,['BBB','CCC']] = 2000; df

   AAA   BBB   CCC
0    4  2000  2000
1    5   555   555
2    6   555   555
3    7   555   555

In [11]:
df_mask = pd.DataFrame({'AAA' : [True] * 4, 'BBB' : [False] * 4,'CCC' : [True,False] * 2})

In [9]:
[True,False] * 2

[True, False, True, False]

In [12]:
df.where(df_mask,-1000)

   AAA   BBB   CCC
0    4 -1000  2000
1    5 -1000 -1000
2    6 -1000   555
3    7 -1000 -1000

### if-then-else using numpy’s where()

In [15]:
import numpy as np

In [13]:
df = pd.DataFrame({'AAA' : [4,5,6,7], 'BBB' : [10,20,30,40],'CCC' : [100,50,-30,-50]}); df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [16]:
df['logic'] = np.where(df['AAA'] > 5,'high','low'); df

   AAA  BBB  CCC logic
0    4   10  100   low
1    5   20   50   low
2    6   30  -30  high
3    7   40  -50  high

# Splitting

Split a frame with a boolean criterion

In [17]:
df = pd.DataFrame({'AAA' : [4,5,6,7], 'BBB' : [10,20,30,40],'CCC' : [100,50,-30,-50]}); df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [18]:
dflow = df[df.AAA <= 5]; dflow

   AAA  BBB  CCC
0    4   10  100
1    5   20   50

In [ ]:
dfhigh = df[df.AAA > 5]; dfhigh

# Building Criteria

In [19]:
df = pd.DataFrame({'AAA' : [4,5,6,7], 'BBB' : [10,20,30,40],'CCC' : [100,50,-30,-50]}); df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [20]:
newseries = df.loc[(df['BBB'] < 25) & (df['CCC'] >= -40), 'AAA']; newseries

0    4
1    5
Name: AAA, dtype: int64

In [21]:
newseries = df.loc[(df['BBB'] > 25) | (df['CCC'] >= -40), 'AAA']; newseries

0    4
1    5
2    6
3    7
Name: AAA, dtype: int64

In [22]:
df.loc[(df['BBB'] > 25) | (df['CCC'] >= 75), 'AAA'] = 0.1; df

   AAA  BBB  CCC
0  0.1   10  100
1  5.0   20   50
2  0.1   30  -30
3  0.1   40  -50

In [23]:
df = pd.DataFrame({'AAA' : [4,5,6,7], 'BBB' : [10,20,30,40],'CCC' : [100,50,-30,-50]}); df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [24]:
aValue = 43.0

In [27]:
(df.CCC-aValue).abs()

0    57.0
1     7.0
2    73.0
3    93.0
Name: CCC, dtype: float64

In [28]:
(df.CCC-aValue).abs().argsort()

0    1
1    0
2    2
3    3
Name: CCC, dtype: int64

In [25]:
df.loc[(df.CCC-aValue).abs().argsort()]

   AAA  BBB  CCC
1    5   20   50
0    4   10  100
2    6   30  -30
3    7   40  -50

In [31]:
Crit1 = df.AAA <= 5.5
Crit1

0     True
1     True
2    False
3    False
Name: AAA, dtype: bool

In [32]:
Crit2 = df.BBB == 10.0
Crit2

0     True
1    False
2    False
3    False
Name: BBB, dtype: bool

In [33]:
Crit3 = df.CCC > -40.0
Crit3

0     True
1     True
2     True
3    False
Name: CCC, dtype: bool

In [35]:
AllCrit = Crit1 & Crit2 & Crit3
AllCrit

0     True
1    False
2    False
3    False
dtype: bool

In [39]:
CritList = [Crit1,Crit2,Crit3]
CritList

[0     True
 1     True
 2    False
 3    False
 Name: AAA, dtype: bool, 0     True
 1    False
 2    False
 3    False
 Name: BBB, dtype: bool, 0     True
 1     True
 2     True
 3    False
 Name: CCC, dtype: bool]

In [40]:
import functools
AllCrit = functools.reduce(lambda x,y: x & y, CritList)
AllCrit

0     True
1    False
2    False
3    False
dtype: bool

In [41]:
df[AllCrit]

   AAA  BBB  CCC
0    4   10  100

# Selection

## DataFrames

In [42]:
df = pd.DataFrame({'AAA' : [4,5,6,7], 'BBB' : [10,20,30,40],'CCC' : [100,50,-30,-50]}); df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [43]:
df[(df.AAA <= 6) & (df.index.isin([0,2,4]))]

   AAA  BBB  CCC
0    4   10  100
2    6   30  -30

In [44]:
data = {'AAA' : [4,5,6,7], 'BBB' : [10,20,30,40],'CCC' : [100,50,-30,-50]}

In [45]:
df = pd.DataFrame(data=data,index=['foo','bar','boo','kar']); df

     AAA  BBB  CCC
foo    4   10  100
bar    5   20   50
boo    6   30  -30
kar    7   40  -50

There are 2 explicit slicing methods, with a third general case

* Positional-oriented (Python slicing style : exclusive of end)
* Label-oriented (Non-Python slicing style : inclusive of end)
* General (Either slicing style : depends on if the slice contains labels or positions)

In [46]:
df.loc['bar':'kar'] #Label
# 官方文档上第三个与此栗重复

     AAA  BBB  CCC
bar    5   20   50
boo    6   30  -30
kar    7   40  -50

In [47]:
df.iloc[0:3]

     AAA  BBB  CCC
foo    4   10  100
bar    5   20   50
boo    6   30  -30

In [48]:
df2 = pd.DataFrame(data=data,index=[1,2,3,4]); #Note index starts at 1.

In [50]:
df2.iloc[1:3]

   AAA  BBB  CCC
2    5   20   50
3    6   30  -30

In [51]:
df2.loc[1:3]

   AAA  BBB  CCC
1    4   10  100
2    5   20   50
3    6   30  -30

Using inverse operator (~) to take the complement of a mask

In [52]:
df = pd.DataFrame({'AAA' : [4,5,6,7], 'BBB' : [10,20,30,40],'CCC' : [100,50,-30,-50]}); df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [53]:
df[~((df.AAA <= 6) & (df.index.isin([0,2,4])))]

   AAA  BBB  CCC
1    5   20   50
3    7   40  -50

# Panels

Extend a panel frame by transposing, adding a new dimension, and transposing back to the original dimensions

In [58]:
rng = pd.date_range('1/1/2013',periods=100,freq='D')

In [57]:
data = np.random.randn(100, 4)

In [59]:
cols = ['A','B','C','D']

In [60]:
df1, df2, df3 = pd.DataFrame(data, rng, cols), pd.DataFrame(data, rng, cols), pd.DataFrame(data, rng, cols)

In [61]:
pf = pd.Panel({'df1':df1,'df2':df2,'df3':df3});pf

<class 'pandas.core.panel.Panel'>
Dimensions: 3 (items) x 100 (major_axis) x 4 (minor_axis)
Items axis: df1 to df3
Major_axis axis: 2013-01-01 00:00:00 to 2013-04-10 00:00:00
Minor_axis axis: A to D

In [62]:
pf.loc[:,:,'F'] = pd.DataFrame(data, rng, cols);pf

<class 'pandas.core.panel.Panel'>
Dimensions: 3 (items) x 100 (major_axis) x 5 (minor_axis)
Items axis: df1 to df3
Major_axis axis: 2013-01-01 00:00:00 to 2013-04-10 00:00:00
Minor_axis axis: A to F

[Mask a panel by using np.where and then reconstructing the panel with the new masked values](https://stackoverflow.com/questions/14650341/boolean-mask-in-pandas-panel)

# New Columns

[Efficiently and dynamically creating new columns using applymap](https://stackoverflow.com/questions/16575868/efficiently-creating-additional-columns-in-a-pandas-dataframe-using-map)

In [63]:
df = pd.DataFrame({'AAA' : [1,2,1,3], 'BBB' : [1,1,2,2], 'CCC' : [2,1,3,1]}); df

   AAA  BBB  CCC
0    1    1    2
1    2    1    1
2    1    2    3
3    3    2    1

In [65]:
source_cols = df.columns; source_cols # or some subset would work too.

Index([u'AAA', u'BBB', u'CCC'], dtype='object')

In [66]:
new_cols = [str(x) + "_cat" for x in source_cols]; new_cols

['AAA_cat', 'BBB_cat', 'CCC_cat']

In [67]:
categories = {1 : 'Alpha', 2 : 'Beta', 3 : 'Charlie' }

In [68]:
df[new_cols] = df[source_cols].applymap(categories.get);df

   AAA  BBB  CCC  AAA_cat BBB_cat  CCC_cat
0    1    1    2    Alpha   Alpha     Beta
1    2    1    1     Beta   Alpha    Alpha
2    1    2    3    Alpha    Beta  Charlie
3    3    2    1  Charlie    Beta    Alpha

[Keep other columns when using min() with groupby](https://stackoverflow.com/questions/23394476/keep-other-columns-when-using-min-with-groupby)

In [69]:
df = pd.DataFrame({'AAA' : [1,1,1,2,2,2,3,3], 'BBB' : [2,1,3,4,5,1,2,3]}); df

   AAA  BBB
0    1    2
1    1    1
2    1    3
3    2    4
4    2    5
5    2    1
6    3    2
7    3    3

Method 1 : idxmin() to get the index of the mins

In [70]:
df.loc[df.groupby("AAA")["BBB"].idxmin()]

   AAA  BBB
1    1    1
5    2    1
6    3    2

Method 2 : sort then take first of each

In [71]:
df.sort_values(by="BBB").groupby("AAA", as_index=False).first()

   AAA  BBB
0    1    1
1    2    1
2    3    2

Notice the same results, with the exception of the index.

# MultiIndexing

The multindexing docs.

[Creating a multi-index from a labeled frame](http://stackoverflow.com/questions/14916358/reshaping-dataframes-in-pandas-based-on-column-labels)

In [75]:
df = pd.DataFrame({'row' : [0,1,2],
   'One_X' : [1.1,1.1,1.1],
   'One_Y' : [1.2,1.2,1.2],
   'Two_X' : [1.11,1.11,1.11],
   'Two_Y' : [1.22,1.22,1.22]}); df

   One_X  One_Y  Two_X  Two_Y  row
0    1.1    1.2   1.11   1.22    0
1    1.1    1.2   1.11   1.22    1
2    1.1    1.2   1.11   1.22    2

In [76]:
df = df.set_index('row');df

     One_X  One_Y  Two_X  Two_Y
row
0      1.1    1.2   1.11   1.22
1      1.1    1.2   1.11   1.22
2      1.1    1.2   1.11   1.22

In [84]:
df.columns

Index([u'level_1', u'X', u'Y'], dtype='object')

In [83]:
[ c.split('_') for c in df.columns]

[['level', '1'], ['X'], ['Y']]

In [77]:
df.columns = pd.MultiIndex.from_tuples([tuple(c.split('_')) for c in df.columns]);df

     One        Two
       X    Y     X     Y
row
0    1.1  1.2  1.11  1.22
1    1.1  1.2  1.11  1.22
2    1.1  1.2  1.11  1.22

In [82]:
df = df.stack(0).reset_index(1);df

    level_1     X     Y
row
0       One  1.10  1.20
0       Two  1.11  1.22
1       One  1.10  1.20
1       Two  1.11  1.22
2       One  1.10  1.20
2       Two  1.11  1.22

In [ ]:
# And fix the labels (Notice the label 'level_1' got added automatically)
df.columns = ['Sample','All_X','All_Y'];df

# Arithmetic

[Performing arithmetic with a multi-index that needs broadcasting](http://stackoverflow.com/questions/19501510/divide-entire-pandas-multiindex-dataframe-by-dataframe-variable/19502176#19502176)